# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build

# Ignore .idea project specific settings directory
.idea

ProxyBroker.exe
ProxyBroker.build_artifacts.txt