# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea project specific settings directory
.idea

# Ignore native-image build artifact report
ProxyChecker.build_artifacts.txt

# Ignore ProxyChecker executable
ProxyChecker.exe